@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* Загальні стилі для хедера */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  z-index: 2;
}
header .container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header .container .burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  z-index: 2;
}
header .container .burger span {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container nav {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
header .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logo img {
  width: 96px;
  height: auto;
  margin-right: 20px;
}
header h2 {
  font-size: 1.4rem;
  font-weight: 300;
}
header h4 {
  display: none;
}
header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0;
  padding: 0;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
header nav ul a:hover {
  color: #4caf50;
}

@media (max-width: 768px) {
  header .container h2 {
    display: none;
  }
  header .container h4 {
    display: block;
    font-size: 38px;
    font-weight: 100;
  }
  header .container .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .container .open-modal-btn {
    display: none;
  }
  header nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    text-align: center;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 47px 0 0 10px;
    padding: 0;
  }
  header nav li {
    padding: 15px;
  }
  header nav.open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  header .burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(12px, 6px);
        -ms-transform: rotate(45deg) translate(12px, 6px);
            transform: rotate(45deg) translate(12px, 6px);
  }
  header .burger.open span:nth-child(2) {
    opacity: 0;
  }
  header .burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(12px, -6px);
        -ms-transform: rotate(-45deg) translate(12px, -6px);
            transform: rotate(-45deg) translate(12px, -6px);
  }
}
#hero {
  background: url("../images/11.png") center/cover no-repeat;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}
#hero .container {
  max-width: 800px;
  padding: 20px;
}
#hero .container .responsive-text {
  opacity: 0;
  -webkit-transform: translateX(400px);
      -ms-transform: translateX(400px);
          transform: translateX(400px);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}
#hero .container .visible {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
#hero h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-weight: 300;
}
#hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#hero .btn {
  display: inline-block;
  padding: 12px 25px;
  background: #45a049;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#hero .btn:hover {
  background: #367c39;
}

@media (max-width: 768px) {
  #hero .container {
    margin-top: 62px;
  }
  #hero .container h2 {
    font-size: 1.9rem;
    margin-bottom: 0;
    font-weight: 100;
  }
  #hero .container p:nth-child(2) {
    display: none;
  }
}
#description {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/sofa.webp");
  background-size: cover; /* фон будет растянут по ширине и высоте */
  background-position: center center; /* фон будет расположен по центру */
  background-repeat: no-repeat; /* предотвратит повторение изображения */
  height: 695px;
  margin-bottom: 50px;
}
#description .content-container {
  max-width: 1200px; /* максимальная ширина контента */
  margin: 0 auto;
  padding: 88px 14px 0 81px;
}
#description .content-container .section-header {
  text-align: center;
  margin-bottom: 48px;
}
#description .content-container .section-header .main-title {
  color: #000000;
  font-size: 60px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.6px;
  text-align: start;
}
#description .content-container .features {
  margin-bottom: 16px;
}
#description .content-container .features__list {
  text-align: start;
  padding: 0;
  margin: 0;
}
#description .content-container .features__list .features__item {
  font-size: 1.2rem;
  padding: 4px 0;
}
#description .content-container .features__list .features__item:last-child {
  border-bottom: none;
}
#description .content-container .divider {
  text-align: start;
}
#description .content-container .divider__line {
  color: #000000;
  font-size: 1.5rem;
}
#description .content-container .cta {
  text-align: start;
  margin: 42px 0 20px 0;
}
#description .content-container .cta .btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #45a049;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#description .content-container .cta .btn:hover {
  background-color: #367c39;
}
#description .content-container .content-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  #description .content-container {
    padding: 0;
  }
  #description .content-container .section-header .main-title {
    font-size: 28px;
  }
  #description .content-container .divider {
    display: none;
  }
}
.advantages {
  padding: 0;
  position: relative;
  margin: 80px 0;
  /* 🔹 Адаптив для планшетів (макс. 1024px) */
  /* 🔹 Адаптив для мобільних пристроїв (макс. 768px) */
  /* 🔹 Адаптив для маленьких екранів (макс. 480px) */
}
@media (max-width: 768px) {
  .advantages {
    margin: 8px 0;
  }
}
.advantages .advantages-title h2 {
  text-align: center;
  margin-bottom: 30px;
}
.advantages .advantages-title p {
  color: #666;
  width: 71%;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
.advantages .advantages-item {
  display: block;
  border-radius: 0;
  margin-top: 30px;
}
.advantages .advantages-item .item {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  text-align: left;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.advantages .advantages-item .item:not(:last-child) {
  margin-bottom: 30px;
}
.advantages .advantages-item .item p {
  margin-bottom: 20px;
}
.advantages .advantages-item .item .item-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
.advantages .advantages-item .item .item-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: rgb(80, 121, 85);
  margin-top: 18px;
}
.advantages .advantages-item .item > div {
  width: 50%;
  border: 2px solid rgba(186, 169, 115, 0.3);
  -webkit-box-shadow: 0 4px 25px rgba(33, 32, 30, 0.06);
          box-shadow: 0 4px 25px rgba(33, 32, 30, 0.06);
  border-radius: 12px;
  overflow: hidden;
}
.advantages .advantages-item .item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.advantages .advantages-item .item > div:nth-child(1) {
  padding: 47px;
  padding-bottom: 10px;
  text-align: left;
}
@media (max-width: 1024px) {
  .advantages .advantages-item .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .advantages .advantages-item .item > div {
    width: 80%;
  }
  .advantages .advantages-item .item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 768px) {
  .advantages h2 {
    font-size: 28px;
  }
  .advantages .advantages-item .item {
    gap: 15px;
  }
  .advantages .advantages-item .item > div {
    width: 100%;
  }
  .advantages .advantages-item .item > div:nth-child(1) {
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .advantages h2 {
    font-size: 24px;
  }
  .advantages .advantages-item .item {
    gap: 10px;
  }
  .advantages .advantages-item .item > div {
    width: 100%;
  }
  .advantages .advantages-item .item > div:nth-child(1) {
    padding: 20px;
  }
}

/* ----------------------наші послуги-------------------------------------------*/
#services {
  padding: 60px 20px;
  text-align: center;
}
#services .section {
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
#services .section .visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
#services .section.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
#services .container .services-title h2 {
  margin-bottom: 42px;
}
#services .container .services-title p {
  color: #666;
  width: 71%;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
#services .container .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
}
#services .container .services-list .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin: 10px;
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}
#services .container .services-list .service:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
#services .container .services-list .service > div img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}
#services .container .services-list .service > div h3 {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}
#services .container .services-list .service > div p {
  color: #666;
  font-size: 1rem;
  text-align: center;
}
#services .container .services-list .service .open-modal-btn {
  display: block;
  margin: 15px auto;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
#services .container .services-list .service .open-modal-btn:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  #services .container .services-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #services .container .services-list .service {
    width: 100%;
  }
}
#portfolio {
  margin: 96px auto;
  background-color: #f4f4f4;
}
#portfolio .container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#portfolio .container .portfolio-header {
  margin: 63px 0;
}
#portfolio .container .portfolio-header .animated-title {
  font-size: 42px;
  font-weight: 400;
}
#portfolio .container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#portfolio .container .gallery img {
  width: 385px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#portfolio .container .gallery img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*----------------модалка свайпера---------------------*/
.modalSwipers {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}
.modalSwipers .modals-content {
  position: relative;
  width: 80%;
  max-width: 800px;
}
.modalSwipers .modals-content .close {
  position: absolute;
  top: -26x;
  right: -38px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 2;
}
.modalSwipers .modals-content .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  border-radius: 10px;
}
.modalSwipers .modals-content .swiper .swiper-button-prev {
  color: white; /* Цвет стрелок */
  width: 50px;
  height: 50px;
  left: -60px; /* Смещаем влево за слайдер */
}
.modalSwipers .modals-content .swiper .swiper-button-next {
  color: white; /* Цвет стрелок */
  width: 50px;
  height: 50px;
  right: -60px; /* Смещаем вправо за слайдер */
}

#reviews {
  margin-bottom: 80px;
}
#reviews .container p {
  text-align: center;
  margin-top: 30px;
}

.service-package-title {
  text-align: center;
  margin-bottom: 40px;
}
.service-package-title h2 {
  font-size: 42px;
  font-weight: 400;
  color: #333;
  margin-bottom: 45px;
}
.service-package-title p {
  color: #666;
  width: 71%;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.service-package-works .package-works {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  /* Уникальные стили для каждого блока */
}
.service-package-works .package-works .package-works-title {
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 36px;
  text-align: center;
}
.service-package-works .package-works .package-works-body {
  padding: 20px;
}
.service-package-works .package-works .package-works-body .list-of-works {
  max-width: 1170px;
  margin: 0 auto;
  list-style: none;
  text-align: start;
  margin-bottom: 55px;
}
.service-package-works .package-works .package-works-price p {
  font-size: 1.5rem;
  color: #4caf50;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.service-package-works .package-works .package-works-price span {
  font-size: 1rem;
  color: #333;
}
.service-package-works .package-works .package-works-discription {
  text-align: center;
  font-style: italic;
  color: #888;
  margin-bottom: 20px;
}
.service-package-works .package-works .package-works-item {
  font-size: 1rem;
  color: #444;
  padding: 5px 0;
}
.service-package-works .package-works .package-works-item::before {
  content: "✔";
  color: #28a745;
  margin-right: 8px;
}
.service-package-works .package-works .econom-backgr {
  background-image: url("../images/econ.jpg");
}
.service-package-works .package-works .standart-backgr {
  background-image: url("../images/standart.jpg");
}
.service-package-works .package-works .premium-backgr {
  background-image: url("../images/prem.jpg");
}
.service-package-works .package-works .common-backgr {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 105px;
}
.service-package-works .package-works .common-backgr .common-title {
  color: rgb(255, 255, 255);
  font-family: "Roboto", Sans-serif;
  font-size: 74px;
  font-weight: 600;
  z-index: 2;
}
.service-package-works .package-works .common-backgr .common-descr {
  color: rgb(255, 255, 255);
  font-family: "Roboto", Sans-serif;
  font-size: 20px;
  font-weight: 30;
  z-index: 2;
}
.service-package-works .package-works .common-backgr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/*------------етапи----------------------*/
.stages {
  margin-bottom: 52px;
}
.stages .stages-title h2 {
  margin: 106px 0 105px 0;
}
@media (max-width: 768px) {
  .stages .stages-title h2 {
    font-size: 35px;
    margin: 74px 0 74px 0;
  }
}
.stages .stages-title p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 53px;
}
.stages .stages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}
@media (max-width: 768px) {
  .stages .stages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
.stages .stage {
  width: 25%;
}
@media (max-width: 768px) {
  .stages .stage {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 31px;
  }
}
.stages .custom-line-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .stages .custom-line-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.stages .custom-line-item_circle {
  width: 40px;
  height: 40px;
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .stages .custom-line-item_circle {
    width: 50px;
    height: 50px;
    font-size: 1.4rem;
  }
}
.stages .custom-line-item_line {
  height: 2px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #4caf50;
}
@media (max-width: 768px) {
  .stages .custom-line-item_line {
    width: 2px;
    height: 88px;
  }
}
.stages .custom-line_text {
  text-align: start;
  margin-top: 20px;
  font-size: 1rem;
  color: #666;
}
@media (max-width: 768px) {
  .stages .custom-line_text {
    margin-top: 7px;
  }
}
.stages .custom-line_text .custom-line_text__title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}
.stages .custom-line_text p {
  padding: 0 64px 0 0;
}
@media (max-width: 768px) {
  .stages .custom-line_text p {
    padding: 0;
  }
}
@media (max-width: 768) {
  .stages .custom-line_text {
    margin-top: 7px;
  }
}

/* Кнопка для виклику модального вікна */
.open-modal-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.open-modal-btn:hover {
  background-color: #45a049;
}

/* Стилі для модального вікна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.modal .modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  -webkit-animation: fadeIn 0.3sease-in-out;
          animation: fadeIn 0.3sease-in-out;
  /* Кнопка закриття */
}
.modal .modal-content .close {
  color: #555;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.3sease;
  transition: color 0.3sease;
}
.modal .modal-content .modal-content h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}
.modal .modal-content .modal-content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
form .phone {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 100%;
  -webkit-transition: border-color 0.3sease;
  transition: border-color 0.3sease;
}
form button.send-form {
  padding: 12px;
  font-size: 1rem;
  color: #fff;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3sease;
  transition: background-color 0.3sease;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Анімації */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideIn {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideIn {
  from {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.contact-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../images/bgrcontact.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding: 60px 20px;
  text-align: center;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* Добавляем затемнение на весь фон */
}
.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.contact-section .contact-wrapper {
  width: 100%;
  max-width: 786px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  position: relative;
  z-index: 2; /* Контент поверх затемнения */
}
.contact-section .contact-wrapper .contact-content {
  margin-bottom: 30px;
  text-align: center;
}
.contact-section .contact-wrapper .contact-content h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 15px;
}
.contact-section .contact-wrapper .contact-content p {
  font-size: 18px;
  color: #fff;
}
.contact-section .contact-wrapper .contact-form {
  width: 100%;
}
.contact-section .contact-wrapper .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.contact-section .contact-wrapper .contact-form form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  gap: 10px;
  margin-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-section .contact-wrapper .contact-form form .form-group input {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 150px;
  font-size: 1rem;
  border: 1px solid #ccc;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.contact-section .contact-wrapper .contact-form form .form-group input:focus {
  border-color: #4caf50;
  outline: none;
}
.contact-section .contact-wrapper .contact-form form .form-group .submit-btn {
  width: 100%;
  max-width: 150px;
  padding: 12px 20px;
  font-size: 1rem;
  color: white;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.contact-section .contact-wrapper .contact-form form .form-group .submit-btn:hover {
  background-color: #45a049;
}

/* Адаптив */
@media (max-width: 768px) {
  .contact-section {
    padding: 40px 15px;
    height: auto;
  }
  .contact-section .contact-wrapper {
    max-width: 100%;
  }
  .contact-section .contact-wrapper .contact-content h2 {
    font-size: 28px;
  }
  .contact-section .contact-wrapper .contact-content p {
    font-size: 16px;
  }
  .contact-section .contact-wrapper .contact-form form .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-section .contact-wrapper .contact-form form .form-group .submit-btn {
    max-width: none;
  }
}
/* ---------------про нас--------------------*/
#about .container .about-block-title {
  margin-bottom: 54px;
}
#about .container .about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
#about .container .about-block .about-block-description {
  margin-right: 41px;
}
#about .container .about-block .about-block-img {
  width: 100%;
  height: 326px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 85px;
}

@media (max-width: 768px) {
  #about .container .about-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 5px;
  }
  #about .container .about-block .about-block-description {
    margin-right: 0;
  }
}
/* Стилі для форми */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 14px;
}

input[type=text],
input[type=tel] {
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

button[type=submit] {
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button[type=submit]:hover {
  background-color: #45a049;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebebeb;
  text-align: center;
  height: 281px;
  color: white;
  display: flex; /* Включаем flexbox */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Выравнивание по горизонтали */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Выравнивание по вертикали */
}
footer .container .phone_mail {
  color: black;
  font-family: "Roboto", Sans-serif;
  font-size: 42px;
}
@media (max-width: 768px) {
  footer .container .phone_mail {
    font-size: 32px;
  }
}
footer .container .phone_mail a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  letter-spacing: 1.3px;
}
footer .container p {
  color: black;
}
@media (max-width: 768px) {
  footer .container p {
    font-size: 16px;
    padding: 7px;
  }
}
footer .container .social-icons {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .container .social-icons a {
  font-size: 24px;
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer .container .social-icons a:hover {
  color: #4caf50; /* Цвет при наведении */
}

/* --------------Кнопка прокрутки вверх--------------------- */
.scroll-to-top {
  position: fixed;
  bottom: 63px;
  left: 33px;
  width: 50px;
  height: 50px;
  background-color: #4caf50;
  /* Синий цвет */
  color: #fff;
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 24px;
  display: none;
  /* Изначально скрыто */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 1000;
}

.scroll-to-top.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Показываем кнопку */
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.scroll-to-top.hidden {
  opacity: 0;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}
body .section {
  opacity: 0;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}
body .visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
body section {
  text-align: center;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
body section p {
  text-align: start;
}
body section h1 {
  color: #000000;
  font-size: 60px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.6px;
}
body section h2 {
  color: #000000;
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.42px;
}
body section h3 {
  font-size: 42px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.42px;
}
body section h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.42px;
}/*# sourceMappingURL=main.css.map */