/* Стилі для форми */
form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
	font-size: 14px;
}

input[type="text"],
input[type="tel"] {
	padding: 10px;
	margin-top: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button[type="submit"] {
	padding: 10px;
	margin-top: 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button[type="submit"]:hover {
	background-color: #45a049;
}