$background-color: #f4f4f4;
$text-color: #333;
$gap: 30px;
$gallery-columns: 3;
$fade-in-duration: 1s;
$fade-in-delay: 0.3s;

#portfolio {
  margin: 96px auto;
  background-color: $background-color;

  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    .portfolio-header {
      margin: 63px 0;
      .animated-title {
        font-size: 42px;
        font-weight: 400;
      }
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      justify-content: center;
      img {
        width: 385px;
        height: 200px;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*----------------модалка свайпера---------------------*/

.modalSwipers {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 3;
  .modals-content {
    position: relative;
    width: 80%;
    max-width: 800px;

    .close {
      position: absolute;
      top: -26x;
      right: -38px;
      font-size: 30px;
      color: white;
      cursor: pointer;
      z-index: 2;
    }
    .swiper {
      .swiper-wrapper {
        @media (max-width: 768px) {
          height: 150%;
        }
        .swiper-slide {
          img {
            width: 100%;
            border-radius: 10px;
            @media (max-width: 768px) {
              height: 150%;
            }
          }
          @media (max-width: 768px) {
          }
        }
      }
      .swiper-button-prev {
        color: white; /* Цвет стрелок */
        width: 50px;
        height: 50px;
        left: -60px; /* Смещаем влево за слайдер */
      }
      .swiper-button-next {
        color: white; /* Цвет стрелок */
        width: 50px;
        height: 50px;
        right: -60px; /* Смещаем вправо за слайдер */
      }
    }
  }
}
