$background-color: #f4f4f4;
$text-color: #333;
$gap: 30px;
$gallery-columns: 3;
$fade-in-duration: 1s;
$fade-in-delay: 0.3s;

#portfolio {
  margin: 96px auto;
  background-color: $background-color;

  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    .animated-title {
      font-size: 42px;
      // font-weight: bold;
      color: $text-color;
      opacity: 0;
      transform: translateY(-30px);
      animation: fadeInUp $fade-in-duration forwards;
    }

    .animated-description {
      color: #666;
      width: 71%;
      font-size: 20px;
      text-align: center;
      margin: 0 auto;

      margin-top: 20px;
      color: $text-color;
      opacity: 0;
      transform: translateY(30px);
      animation: fadeInUp $fade-in-duration forwards;
      animation-delay: $fade-in-delay;
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat($gallery-columns, 1fr);
      gap: $gap;
      margin-top: 40px;

      @media (max-width: 768px) {
        @media (max-width: 768px) {
          grid-template-columns: 1fr; // На мобильных будет 1 колонка (вертикально)
        }
      }

      .gallery-item {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        animation: fadeInUp $fade-in-duration forwards;

        img {
          width: 100%;
          height: auto;
          transition: transform 0.3s ease;
        }

        &:hover img {
          transform: scale(1.05);
        }
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
