/*------------етапи----------------------*/
.stages {
	margin-bottom: 52px;

	.stages-title {
		h2 {
			margin: 106px 0 105px 0;
			@media (max-width: 768px) {
				font-size: 35px;
				margin: 74px 0 74px 0;
			}
		}

		p {
			font-size: 24px;
			font-weight: 300;
			line-height: 1.5;
			margin-bottom: 53px;
		}
	}

	.stages-list {
		display: flex;
		justify-content: space-between;
		gap: 0;

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 0;
		}
	}

	.stage {
		width: 25%;

		@media (max-width: 768px) {
			width: 100%;
			display: flex;
			align-items: flex-start;
			gap: 31px;
		}
	}

	.custom-line-item {
		display: flex;
		align-items: center;

		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	.custom-line-item_circle {
		width: 40px;
		height: 40px;
		background-color: #4caf50;
		color: white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2rem;
		font-weight: bold;

		@media (max-width: 768px) {
			width: 50px;
			height: 50px;
			font-size: 1.4rem;
		}
	}

	.custom-line-item_line {
		height: 2px;
		flex-grow: 1;
		background-color: #4caf50;

		@media (max-width: 768px) {
			width: 2px;
			height: 88px;
		}
	}

	.custom-line_text {
		text-align: start;
		margin-top: 20px;
		font-size: 1rem;
		color: #666;
		@media (max-width: 768px) {
			margin-top: 7px;
		}

		.custom-line_text__title {
			font-size: 1.2rem;
			color: #333;
			margin-bottom: 10px;
		}

		p {
			padding: 0 64px 0 0;

			@media (max-width: 768px) {
				padding: 0;
			}
		}
		@media (max-width: 768) {
			margin-top: 7px;
		}
	}
}
