# Логи
*.log

# Резервные и временные файлы редакторов
*.swp
*~
*.sublime-workspace
*.sublime-project

# Файлы операционных систем
.DS_Store
Thumbs.db

# Кеш браузеров или сборщиков (если применимо)
.cache/
